<h1>
  <a routerLink="/">
    My Store
  </a>
</h1>


<vaadin-horizontal-layout theme="spacing">
  <a routerLink="/cart">
    <vaadin-button theme="icon">
      <vaadin-icon icon="vaadin:cart-o" slot="prefix"></vaadin-icon>
      Checkout
    </vaadin-button>
  </a>

  <app-newsletter-dialog></app-newsletter-dialog>
</vaadin-horizontal-layout>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
