<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <vaadin-text-field label="Name" formControlName="name"
                     [invalid]="nameField.touched && nameField.invalid"
                     [errorMessage]="nameErrors"></vaadin-text-field>
  <br>
  <vaadin-text-field label="Address" formControlName="address" [invalid]="addressField.touched && addressField.invalid"
                     [errorMessage]="addressErrors"></vaadin-text-field>
  <br>
  <vaadin-select label="Payment Method" formControlName="paymentMethod" [items]="paymentOptions"
                 [invalid]="paymentMethodField.touched && paymentMethodField.invalid"
                 [errorMessage]="paymentMethodErrors" (blur)="paymentMethodField.markAsTouched()"></vaadin-select>
  <br>

  <vaadin-button (click)="onSubmit()">Purchase</vaadin-button>
</form>
<br>
<vaadin-grid [items]="items">
  <vaadin-grid-filter-column path="name"></vaadin-grid-filter-column>
  <vaadin-grid-column path="price" [renderer]="priceRenderer"></vaadin-grid-column>
  <vaadin-grid-column>
    <ng-template #cell let-item="model.item">
      <vaadin-button theme="icon error" (click)="onRemoveItem(item)">
        <vaadin-icon icon="vaadin:close-small"></vaadin-icon>
      </vaadin-button>
    </ng-template>
  </vaadin-grid-column>
</vaadin-grid>
