<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <vaadin-text-field label="Name" formControlName="name"
                     [invalid]="nameField.touched && nameField.invalid"
                     [errorMessage]="nameErrors"></vaadin-text-field>
  <br>
  <vaadin-text-field label="Address" formControlName="address" [invalid]="addressField.touched && addressField.invalid"
                     [errorMessage]="addressErrors"></vaadin-text-field>
  <br>
  <vaadin-select label="Payment Method" formControlName="paymentMethod" [items]="paymentOptions"
                 [invalid]="paymentMethodField.touched && paymentMethodField.invalid"
                 [errorMessage]="paymentMethodErrors" (blur)="paymentMethodField.markAsTouched()"></vaadin-select>
  <br>

  <vaadin-button (click)="onSubmit()">Purchase</vaadin-button>
</form>
<br>

<vaadin-grid [items]="items" [selectedItems]="selectedItems"
             (selected-items-changed)="selectedItems = $event.detail.value">
  <vaadin-grid-selection-column></vaadin-grid-selection-column>
  <vaadin-grid-sort-column path="name" header="Product">
    <ng-template #cell let-model="model">
        <b>{{model.item.name}}</b>
        <br>
        <i>{{model.item.description}}</i>
    </ng-template>
    <ng-template #footer>
      <b *ngIf="selectedItems.length > 0">{{selectedItems.length}} products selected</b>
    </ng-template>
  </vaadin-grid-sort-column>
  <vaadin-grid-sort-column path="price" header="Price">
    <ng-template #cell let-model="model">
      $ {{model.item.price.toFixed(2)}}
      <b style="color: red" *ngIf="model.item.price < 4">!</b>
    </ng-template>
  </vaadin-grid-sort-column>
  <vaadin-grid-column header="Stock">
    <ng-template #cell let-model="model">
      <app-stock-info [product]="model.item"></app-stock-info>
    </ng-template>
  </vaadin-grid-column>
  <vaadin-grid-column header="Actions">
    <ng-template #cell let-model="model">
      <vaadin-button theme="icon" (click)="onRaisePrice(model.item)" style="margin-right: 8px">
        <vaadin-icon icon="vaadin:dollar"></vaadin-icon>
      </vaadin-button>
      <vaadin-button theme="icon error" (click)="onRemoveItem(model.item)">
        <vaadin-icon icon="vaadin:close-small"></vaadin-icon>
      </vaadin-button>
    </ng-template>
    <ng-template #header>
      <vaadin-button theme="icon" (click)="onRaiseAllPrices()" style="margin-right: 8px">
        <vaadin-icon icon="vaadin:dollar"></vaadin-icon>
      </vaadin-button>
    </ng-template>
  </vaadin-grid-column>
</vaadin-grid>
