<vaadin-button theme="icon" (click)="openDialog()">
  <vaadin-icon icon="vaadin:newspaper" slot="prefix"></vaadin-icon>
  Register for Newsletter
</vaadin-button>

<vaadin-dialog [opened]="dialogOpened" (opened-changed)="dialogOpened = $event.detail.value">
  <h4 #header class="header">Newsletter Signup</h4>
  <div #content>
    <p>Enter your email below to sign up for our newsletter:</p>
    <vaadin-text-field [value]="mail"
                       (value-changed)="updateMail($event.detail.value)"></vaadin-text-field>
    <br>
    <vaadin-checkbox label="Show advanced options" [checked]="showOptions" (change)="showOptions = !showOptions"></vaadin-checkbox>
    <div *ngIf="showOptions">
      <vaadin-checkbox label="Marketing" [checked]="options.marketing" (change)="options.marketing = !options.marketing"></vaadin-checkbox>
      <vaadin-checkbox label="Releases" [checked]="options.releases" (change)="options.releases = !options.releases"></vaadin-checkbox>
      <vaadin-checkbox label="Blog Posts" [checked]="options.blog" (change)="options.blog = !options.blog"></vaadin-checkbox>
    </div>
  </div>
  <vaadin-horizontal-layout #footer theme="spacing">
    <vaadin-button (click)="cancel()">Cancel</vaadin-button>
    <vaadin-button theme="primary" (click)="signup()">Sign up</vaadin-button>
  </vaadin-horizontal-layout>
</vaadin-dialog>
