<vaadin-button theme="icon" (click)="openDialog()">
  <vaadin-icon icon="vaadin:newspaper" slot="prefix"></vaadin-icon>
  Register for Newsletter
</vaadin-button>

<vaadin-dialog [opened]="dialogOpened" (opened-changed)="dialogOpened = $event.detail.value">
  <h4 vaadin-dialog-header-renderer class="header">Newsletter Signup</h4>
  <div vaadin-dialog-renderer>
    <p>Enter your email below to sign up for our newsletter:</p>
    <vaadin-text-field [value]="newsletterMail"
                       (value-changed)="newsletterMail = $event.detail.value"></vaadin-text-field>
  </div>
  <vaadin-horizontal-layout vaadin-dialog-footer-renderer theme="spacing">
    <vaadin-button (click)="cancel()">Cancel</vaadin-button>
    <vaadin-button theme="primary" (click)="signup()">Sign up</vaadin-button>
  </vaadin-horizontal-layout>
</vaadin-dialog>
