<vaadin-app-layout>
  <div slot="navbar">
    <h1>Vaadin Angular Integration</h1>
  </div>
  <div class="drawer" slot="drawer">
    <a routerLink="/examples/product-list">
      <div class="nav-link">
        <vaadin-icon icon="vaadin:table" slot="prefix"></vaadin-icon>
        Product List
      </div>
    </a>
    <a routerLink="/examples/editable-employee-list">
      <div class="nav-link">
        <vaadin-icon icon="vaadin:users" slot="prefix"></vaadin-icon>
        Editable Employee List
      </div>
    </a>
    <a routerLink="/examples/newsletter-dialog">
      <div class="nav-link">
        <vaadin-icon icon="vaadin:modal" slot="prefix"></vaadin-icon>
        Newsletter Dialog
      </div>
    </a>
    <a routerLink="/examples/checkout-form">
      <div class="nav-link">
        <vaadin-icon icon="vaadin:form" slot="prefix"></vaadin-icon>
        Checkout Form
      </div>
    </a>
    <a routerLink="/examples/album-tree-view">
      <div class="nav-link">
        <vaadin-icon icon="vaadin:picture" slot="prefix"></vaadin-icon>
        Album Tree View
      </div>
    </a>
    <a routerLink="/examples/grid-performance">
      <div class="nav-link">
        <vaadin-icon icon="vaadin:form" slot="prefix"></vaadin-icon>
        Grid Performance
      </div>
    </a>
  </div>
  <router-outlet></router-outlet>
</vaadin-app-layout>
