h1 {
  margin: 8px 16px;
  font-size: 24px;
}

.drawer {
  padding: 16px;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link vaadin-icon {
  font-size: 12px;
  margin-right: 8px;
}
